/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Sans-Serif;
}

h1.title {
  color: black;
}

#title-block-header.quarto-title-block.default .keywords>p,#title-block-header.quarto-title-block.default .description>p,#title-block-header.quarto-title-block.default .abstract>p {
    font-size: 1.1em
}

.abstract .block-title {
  font-family: Roboto, Sans-Serif;
}

.callout-title-container {
  font-family: Roboto, Sans-Serif;
}

.quarto-title-meta-container {
  font-family: Roboto, Sans-Serif;
}

.quarto-title-meta-heading {
  font-family: Roboto, Sans-Serif;
}

.author {
  color: black;
  font-weight: bold;
}

#TOC {
  font-family: Roboto, Sans-Serif;
}
